@page
@{
}


<div class="container-fluid text-center">
    <div>
        <h1>Find A Meal</h1>
        <h4>Find a meal and add it to your own list!</h4><br />
    </div>
    <div class="row">
        <form asp-controller="Explore" asp-action="Index">
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3>Name of Meal</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <p>ingredient 1</p>
                            <p>ingredient 2</p>
                        </div>
                        <div class="col-sm-6">
                            <p>ingredient 3</p>
                            <p>ingredient 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="panel-footer">
                            <input type="submit" value="see full meal" />
                            <input type="submit" value="AddToMyMeals" />
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Name of Meal</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 text-center">
                        <p>ingredient 1</p>
                        <p>ingredient 2</p>
                    </div>
                    <div class="col-sm-6">
                        <p>ingredient 3</p>
                        <p>ingredient 4</p>
                    </div>
                </div>
                <div>
                    <div class="panel-footer">
                        <input type="submit" value="see full meal" />
                        <input type="submit" value="AddToMyMeals" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Name of Meal</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 text-center">
                        <p>ingredient 1</p>
                        <p>ingredient 2</p>
                    </div>
                    <div class="col-sm-6">
                        <p>ingredient 3</p>
                        <p>ingredient 4</p>
                    </div>
                </div>
                <div>
                    <div class="panel-footer">
                        <input type="submit" value="see full meal" />
                        <input type="submit" value="AddToMyMeals" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Name of Meal</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 text-center">
                        <p>ingredient 1</p>
                        <p>ingredient 2</p>
                    </div>
                    <div class="col-sm-6">
                        <p>ingredient 3</p>
                        <p>ingredient 4</p>
                    </div>
                </div>
                <div>
                    <div class="panel-footer">
                        <input type="submit" value="see full meal" />
                        <input type="submit" value="AddToMyMeals" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Name of Meal</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 text-center">
                        <p>ingredient 1</p>
                        <p>ingredient 2</p>
                    </div>
                    <div class="col-sm-6">
                        <p>ingredient 3</p>
                        <p>ingredient 4</p>
                    </div>
                </div>
                <div>
                    <div class="panel-footer">
                        <input type="submit" value="see full meal" />
                        <input type="submit" value="AddToMyMeals" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Name of Meal</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 text-center">
                        <p>ingredient 1</p>
                        <p>ingredient 2</p>
                    </div>
                    <div class="col-sm-6">
                        <p>ingredient 3</p>
                        <p>ingredient 4</p>
                    </div>
                </div>
                <div>
                    <div class="panel-footer">
                        <input type="submit" value="see full meal" />
                        <input type="submit" value="AddToMyMeals" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>