@model GroceryList.ViewModels.ClearPlannedMealViewModel
@{
    ViewData["Title"] = "Title";
}


<div>Are you sure you want to clear your weekly plan?</div>
<form>
    
    <button asp-controller="Plan" asp-action="Clear">Clear</button>

</form>