@model GroceryList.ViewModels.PlanWeekViewModel
@{

}


<div style="text-align:center">
    <h1>Plan Your Week</h1>
    <form asp-controller="Plan" asp-action="Index" method="post">
        <div style="margin-top: 12px;">
            <label><strong>Sunday</strong></label>
            <br />
            <select asp-for="SundayMealID" asp-items="Model.Meals" name="SundayMealID"></select>
            @*<input type="hidden" value=""*@
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Monday</strong></label>
            <br />
            <select asp-for="MondayMealID" asp-items="Model.Meals" name="MondayMealID"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Tuesday</strong></label>
            <br />
            <select asp-for="TuesdayMealID" asp-items="Model.Meals" name="TuesdayMealID"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Wednesday</strong></label>
            <br />
            <select asp-for="WednesdayMealID" asp-items="Model.Meals" name="WednesdayMealID"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Thursday</strong></label>
            <br />
            <select asp-for="ThursdayMealID" asp-items="Model.Meals" name="ThursdayMealID"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Friday</strong></label>
            <br />
            <select asp-for="FridayMealID" asp-items="Model.Meals" name="FridayMealID"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Saturday</strong></label>
            <br />
            <select asp-for="SaturdayMealID" asp-items="Model.Meals" name="SaturdayMealID"></select>
            <br />
            <br />
        </div>
        <br />
        <br />
        <div>
            @if (!Model.IsPlanned)
            {
                <input type="submit" value="Set My Week!" />
            }

        </div>    
    </form>
</div>

@if (Model.IsPlanned)
{
    <form asp-controller="Plan" asp-action="Clear" method="post" style="text-align: center;"> 
        <button class="btn btn-danger" style="background-color: lightcoral">Clear This Week's Meals?</button>
    </form>
}












@*
<div style="text-align:left;">
    <a asp-controller="Plan" asp-action="Clear" >Start New Week!</a>
</div>*@