@model GroceryList.ViewModels.PlanWeekViewModel
@{
    //TODO -- if your week is set, display the meals in the dropdown
    //do I want just the meals displayed per day or do I want the meals displayed in the dropdown?
}


<div style="text-align:center">
    <h1>Plan Your Week</h1>
    <form asp-controller="Plan" asp-action="Index" method="post">
        <div style="margin-top: 12px;">
            <label><strong>Sunday</strong></label>
            <br />
            <select asp-for="Sunday" asp-items="Model.Meals" name="Sunday"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Monday</strong></label>
            <br />
            <select asp-for="Monday" asp-items="Model.Meals" name="Monday"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Tuesday</strong></label>
            <br />
            <select asp-for="Tuesday" asp-items="Model.Meals" name="Tuesday"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Wednesday</strong></label>
            <br />
            <select asp-for="Wednesday" asp-items="Model.Meals" name="Wednesday"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Thursday</strong></label>
            <br />
            <select asp-for="Thursday" asp-items="Model.Meals" name="Thursday"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Friday</strong></label>
            <br />
            <select asp-for="Friday" asp-items="Model.Meals" name="Friday"></select>
            <br />
        </div>
        <br />
        <div style="margin-top: 12px;">
            <label><strong>Saturday</strong></label>
            <br />
            <select asp-for="Saturday" asp-items="Model.Meals" name="Saturday"></select>
            <br />
            <br />
        </div>
        <br />
        <br />
        <div>
            @if (!Model.IsPlanned)
            {
                <input type="submit" value="Set My Week!" />
            }

        </div>    
    </form>
</div>

@if (Model.IsPlanned)
{
    <form asp-controller="Plan" asp-action="Clear" method="post" style="text-align: center;"> 
        <button class="btn btn-danger" style="background-color: lightcoral">Clear This Week's Meals?</button>
    </form>
}












@*
<div style="text-align:left;">
    <a asp-controller="Plan" asp-action="Clear" >Start New Week!</a>
</div>*@