@model GroceryList.ViewModels.AddMealViewModel
@{
    ViewData["Title"] = "Title";
}


<h1>Add A Meal</h1>

<form asp-controller="Manage" asp-action="AddAMeal" method="post">
    <div>
        <div>
            <label>
                Name your Meal:
            </label>
        </div>
        <div>
            <input type="text" name="Name" />
        </div>
    </div>
    <br />
    <div>
        <div>
            <label>
                Enter your ingredients:
            </label>
        </div>
        <div>
            <input type="text" name="Ingredients" />
        </div>
        <div id="ingredients"></div>
        <button id="btnAddIngredient" type="button" >Add Ingredient</button>
    </div>
    <br />
    <div>
        <div>
            <label>
                Notes
            </label>
        </div>
        <div>
            <input type="text" name="Note"/>
        </div>       
    </div>
    <br />
    <input type="submit" value="Add Meal" />
    <a asp-controller="Manage" asp-action="Index">back</a>  
</form>




        
        
		
<script type="text/javascript">
		
	$(document).ready(function() {
		var $ingredients = $('#ingredients');
		$('#btnAddIngredient').click(function(e) {
			e.preventDefault();
			$('<input type="text" name="Ingredients" /><br/>').appendTo($ingredients);
		});
	});
	
</script>













@* <span>
            <select name="Category">
                
                <option value="Category 1">
                    Category 1
                </option>
                <option value="Category 2">
                    Category 2
                </option>
                <option value="Category 3">
                    Category 3
                </option>
                <option value="Category 4">
                    Category 4
                </option>
            </select>

            @{
                //TODO -- figure out the javascript that will allow the ingredient to pop up on the screen after submission
              }

            <button type="button" name="AddIngredient">Add Ingredient</button>
        </span>*@