@page
@{

}

<div style="text-align:center;">
    <h3>Add a Category</h3>

    <h4>Add a category or section of your grocery store to make your shopping easier!</h4>
    <br />

    <form asp-controller="Manage" asp-action="AddCategory" method="post">
        <label>Category:</label>
        <input type="text" name="Category"/>
        <input type="submit" value="Add" />
    </form>
</div>



