@page
@{
}


<h3>Add a new Ingredient</h3>
<form asp-controller="Manage" asp-action="AddIngredient" method="post">
    <input type="text" name="Ingredient" />
    <input type="submit" value="submit" />
</form>