@page

@{
    // TODO -- change the asp-action on each meal panel to the MealID
    // TODO --

    /*Notes:

    Do I need to change the input/submit button to direct to -- think this is fixed
    */

}

<a asp-controller="Manage" asp-action="AddAMeal">Add a Meal</a>

<div class="container-fluid text-center">
    <div>
        <h1>[User's Meals]</h1>
        <br />     
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a>
                    @*<input type="submit" value="RemoveMeal" />*@
                </div>
                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a>
                    @*<input type="submit" value="RemoveMeal" />*@
                </div>
                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a>
                    @*<input type="submit" value="RemoveMeal" />*@
                </div>
                
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a>
                    @*<input type="submit" value="RemoveMeal" />*@
                </div>
                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a> 
                    @*<input type="submit" value="RemoveMeal" />*@
                </div>
                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a> 
                    @*<input type="submit" value="RemoveMeal" />*@
                </div>
                
            </div>
        </div>
    </div>

</div>


