@model List<GroceryList.Models.Meal>

@{
    // TODO -- change the asp-action on each meal panel to the MealID
    // TODO --

    /*Notes:

    Do I need to change the input/submit button to direct to -- think this is fixed
    */

}


@if (Model.Count != 0)
{
    <a asp-controller="Manage" asp-action="AddAMeal">Add a Meal</a>

}

    <div class="container-fluid text-center">
        <div>
            <h1>My Meals</h1>
            <br />     
        </div>
        <div class="row">

@if (Model.Count == 0)
{
    <div>
        <p>You have no Meals Yet! </p>
    </div> 
    <br />
    <div>
        <p>You can add a meal <a asp-controller="Manage" asp-action="AddAMeal">here!</a></p>
    </div>
    

}

    @foreach (Meal meal in Model)
    {
            <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>@meal.Name</h3>
                </div>
                <div class="panel-body">
                    @foreach (Ingredient ingr in meal.Ingredients)
                    {
                        <div>
                            @ingr.Name
                        </div>
                    }
                    
                    <div>
                        @meal.Note
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a>
                    @*<input type="submit" value="RemoveMeal" />*@
                </div>
                
            </div>
        </div>

    }






    
        

      @*  <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a>
                    @*<input type="submit" value="RemoveMeal" />
                </div>
                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a>
                    @*<input type="submit" value="RemoveMeal" />
                </div>
                
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a>
                    @*<input type="submit" value="RemoveMeal" />
                </div>
                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a> 
                    @*<input type="submit" value="RemoveMeal" />
                </div>
                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Meal Name</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>[Meal Notes]</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-controller="Manage" asp-action="ViewAMeal"><input type="submit" value="see full menu" /> </a> 
                    @*<input type="submit" value="RemoveMeal" />
                </div>
                
            </div>
        </div>*@
    </div>

</div>


