@page
@{
}


<h3>***Need to add the ability to view a single meal
    with the ability to easily navigate back to the user's meals page***</h3>


<a asp-controller="Manage" asp-action="Index">back</a>